body{
    margin: 0;
    padding: 0;
    background: url('https://i.ibb.co/xFc0JPm/WS.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
   
    
    
}
.logo{
    
    display: flex;

    justify-content: flex-end;
    margin: 20px;
}
.logo img{
    height: 60px;
    width: 80px;
    
}
.text{
    
    font-size: 25px;
   
    font-weight: 700;
    padding: 20px 30px;
    margin-top: 130px;
    background-color: rgba(248, 248, 248, 0.5);
  
   
}
.text p{
text-transform: uppercase;
color: black;

}
@media only screen and (max-width: 600px) {
    .text{
    
    
        margin-top: 220px;
        background-color: rgba(248, 248, 248, 0.5);
      
       
    }
  }

